* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg-main {
    background-color: #1c71ad !important;
}

.text-main {
    color: #1c71ad !important;
}

.pointer {
    cursor: pointer
}

/* Header Navbar Section */
.nav-link,
.nav-link:hover {
    color: white;
}

.nav-link.active {
    border-bottom: solid 2px #1c71ad;
}

.highlight {
    color: #1c71ad;
}
.offcanvas {
    transition: transform 0.3s ease-in-out;
}
.ease-transition {
    transition: all 0.5s ease;
}
#products-options {
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in-out;
}
#products-options:hover {
    opacity: 1;
    display: block;
}
.nav-item.show-products:hover #products-options {
    opacity: 1;
    display: block;
}
.product-option:hover {
    transform: translateX(-5px);
}
.product-option:hover a {
    color: #1c71ad !important;
}

.is-url {
    color: #b4cddf;
    /* text-decoration: none;s */
}
.is-url:hover {
    color: #d7e8f4;
}

.footer_section {
    background-color: #1c71ad;
}

.nav-link:hover {
    border-bottom: solid 2px #88bde3;
}


/*------------------------------------------------------------------ Footer Main -------------------------------------------------------------------*/
 .footer-main{
     padding: 70px 0px;
     background: #1c71ad;
}
.footer-main hr{
    border-top: 1px solid rgba(255,255,255,.6);
}
.footer-top-box{
    margin-bottom: 30px;
}
.footer-top-box h3{
    color: #ffffff;
    position: relative;
    font-size: 20px;
    padding-bottom: 8px;     
}
.footer-top-box h3::before {
    border-bottom: 2px solid #C2C2C0;
    content: "";
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}
.list-time{
    margin-top: 15px;
}
.footer-top-box .list-time li{
    color: #ffffff;
    font-size: 16px;
    display: block;
    float: none;
}

.newsletter-box{
    margin-top: 15px;
    position: relative;
}
.newsletter-box input{
    height: 40px;
    border: none;
    padding: 0 10px;
    background: transparent;
    border-radius: 0;
    background: #fff;
    padding: 0 20px;
    width: 100%;
}
.newsletter-box i{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
}
.newsletter-box button{ 
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    
}
 .footer-top-box p{
     padding-bottom: 15px;
     color: #cccccc;
 }

 .footer-top-box ul{
     display: inline-block;
}
 .footer-top-box ul li {
     float: left;
     margin-right: 5px;
}
 .footer-top-box ul li a {
     color: #ffffff;
     display: inline-block;
     width: 36px;
     height: 36px;
     border: 2px solid #ffffff;
     text-align: center;
     line-height: 32px;
}
 .footer-top-box ul li a:hover {
     color: #C2C2C0;
     border-color: #C2C2C0;
}
.footer-widget, .footer-link, .footer-link-contact {
    margin-top: 15px;
}
 .footer-widget h4 {
     color: #ffffff;
     font-size: 16px;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin-bottom: 20px;
     position: relative;
     font-weight: 700;
     padding-bottom: 8px;     
}
 .footer-widget h4::before {
     border-bottom: 3px solid #C2C2C0;
     content: "";
     height: 3px;
     width: 100%;
     position: absolute;
     bottom: 3px;
     left: 0px;
}
 .footer-widget p {
     color: #cccccc;
     font-weight: 400;
     font-size: 14px;
     padding-bottom: 20px;
}

 .footer-link{
}
 .footer-link h4{
     color: #ffffff;
     font-size: 16px;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin-bottom: 20px;
     position: relative;
     font-weight: 700;
     padding-bottom: 8px;
}
 .footer-link h4::before {
     border-bottom: 3px solid #C2C2C0;
     content: "";
     height: 3px;
     width: 100%;
     position: absolute;
     bottom: 3px;
     left: 0px;
}
 .footer-link ul li {
     margin-right: 5px;
}
 .footer-link ul li a {
     color: #ffffff;
     text-align: left;
     display: block;
     line-height: 32px;
     position: relative;
     padding-left: 15px;
     transition: all .3s ease-in-out;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
}
/* .footer-link ul li a::before {
     font-family: FontAwesome;
     content: "\f105";
     position: absolute;
     left: 5px;
     line-height: 35px;
     font-size: 16px;
     transition: all .3s ease-in-out;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
}*/
 .footer-link ul li a:hover::before {
     left: 5px;
}
 .footer-link ul li a:hover {
     color: #C2C2C0;
     border-color: #C2C2C0;
     padding-left: 20px;
}
 .footer-link-contact h4{
     color: #ffffff;
     font-size: 16px;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin-bottom: 20px;
     position: relative;
     font-weight: 700;
     padding-bottom: 8px; 
}
 .footer-link-contact h4::before {
     border-bottom: 3px solid #C2C2C0;
     content: "";
     height: 3px;
     width: 100%;
     position: absolute;
     bottom: 3px;
     left: 0px;
}
 .footer-link-contact ul li{
     margin-bottom: 12px;
}
 .footer-link-contact ul li i{
     position: absolute;
     left: 0;
     top: 5px;
     padding-right: 6px;
}
 .footer-link-contact ul li p{
     padding-left: 25px;
     color: #cccccc;
     position: relative;
}
 .footer-link-contact ul li p{
     font-size: 16px;
     color: #cccccc;
     font-weight: 300;
     padding-right: 16px;
     line-height: 24px;
}
 .footer-link-contact ul li p a{
     color: #cccccc;
}
 .footer-link-contact ul li p a:hover{
     color: #C2C2C0;
}
/*------------------------------------------------------------------ Copyright -------------------------------------------------------------------*/
 .footer-copyright{
     background: #C2C2C0;
     padding: 20px 0px;
     position: relative;
}
 .footer-copyright p {
     text-align: center;
     color: #ffffff;
     font-size: 16px;
}
 .footer-copyright p a{
     color: #ffffff;
}
 .footer-copyright p a:hover{
     color: #1c71ad;
}