* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg-edark {
    background-color: #1b1e23;
}

.text-edark {
    color: #1b1e23;
}

.pointer {
    cursor: pointer
}

/* Header Navbar Section */
.nav-link,
.nav-link:hover {
    color: white;
}

.nav-link.active {
    border-bottom: solid 2px #1c71ad;
}

.highlight {
    color: #1c71ad;
}

.is-url {
    color: #1c71ad;
    text-decoration: none;
}

.footer_section {
    background-color: #88bde3;
}

.nav-link:hover {
    border-bottom: solid 2px #88bde3;
}

/* Footer Section */
footer li {
    transition: all .55s ease;
}

footer li:hover {
    border-bottom: 5px solid #88bde3;
}

footer li.active {
    border-bottom: 5px solid #1c71ad;
}

.footer-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}

.footer-nav-link:hover {
    color: whitesmoke;
}

footer {
    display: none;
}

@media (min-width: 661px) {
    #searchSmall {
        display: none;
    }
}

@media (max-width: 660px) {
    #searchLarge {
        display: none;
    }

    #searchSmall {
        display: block;
    }

    footer {
        display: block;
        position: fixed;
        bottom: 0;
        border-radius: 10px 10px 0 0;
    }
}